<h1>Editing happening</h1>

<% form_for(@happening) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </p>
  <p>
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </p>
  <p>
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </p>
  <p>
    <%= f.label :passage_id %><br />
    <%= f.text_field :passage_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @happening %> |
<%= link_to 'Back', happenings_path %>