<h1>Register player</h1>

<% form_for(@player) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= f.text_field :email, :hidden => true %>
  <%= f.text_field :location_id, :hidden => true %>
  <p>
    <%= f.submit 'Register' %>
  </p>
<% end %>

<%= link_to 'Back', players_path %>