<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @player.email %>
</p>

<img src='<%= gravatar_url_for(@player.email) %>' />

<p>
  <b>Location:</b>
  <%= link_to @player.location.title, @player.location %>
</p>

<p>
  <b>Created:</b>
  <%= @player.created_at %>
</p>

<p>
  <b>Updated:</b>
  <%= @player.updated_at %>
</p>

<b>Happenings:</b>
<div id="happeninglist" style="height: 200px; width: 800px; border: solid 1px gray; overflow: auto">
<% for happening in @player.happenings do %>
	<div><%= happening.created_at %>: <%= happening.description %></div>
<% end %>
</div>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>