<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @player.email %>
</p>

<img src='<%= gravatar_url_for(@player.email) %>' />

<p>
  <b>Location:</b>
  <%=h @player.location_id %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>