<h1>Items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Player</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td valign="top"><%= link_to item.name, item %></td>
    <td valign="top"><%=h item.description %></td>
    <td valign="top"><%=h item.location ? item.location.title : '' %></td>
    <td valign="top"><%=h item.player ? item.player.name : '' %></td>
    <td valign="top"><%= link_to 'Edit', edit_item_path(item) %></td>
    <td valign="top"><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_item_path %>