<p>
  <b>Name:</b>
  <%=h @item.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @item.description %>
</p>

<p>
  <% if @item.location %>
    <b>At location:</b>
    <%= link_to @item.location.title, @item.location %>
  <% elsif @item.player %>
    <b>Carried by:</b>
    <%= link_to @item.player.name, @item.player %>
  <% else %>
    <b>Inaccessible: Neither carried nor at a location!</b>
  <% end %>
</p>

<p>
  <b>Created:</b>
  <%= @item.created_at %>
</p>

<p>
  <b>Updated:</b>
  <%= @item.updated_at %>
</p>

<b>Sample usage:</b>
<ul>
  <li><i>You took a <%=h @item.name %></i></li>
  <li><i>You dropped a <%=h @item.name %></i></li>
  <li><i>You carry <%=h @item.description %></i></li>
</ul>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>