<h1>Listing passages</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Title</th>
    <th>Destination</th>
  </tr>

<% @passages.each do |passage| %>
  <tr>
    <td><%= link_to passage.source.title, location_url(passage.source) %></td>
    <td><%= link_to passage.title, edit_passage_path(passage) %></td>
    <td><%= link_to passage.destination.title, location_url(passage.destination) %></td>
    <td><%= link_to 'Destroy', passage, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New passage', new_passage_path %>