<h1>New passage</h1>

<% form_for(@passage) do |f| %>
  <%= f.error_messages %>

  <p>
    <b>From:</b>
    <%= collection_select("passage", "source_id", Location.find(:all), :id, :title, {:prompt => true}) %>
    <b>To:</b>
    <%= collection_select("passage", "destination_id", Location.find(:all), :id, :title, {:prompt => true}) %>
  </p>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', passages_path %>