<p>
  <b>From:</b>
  <%= link_to @passage.source.title, location_url(@passage.source) %>
  <b>To:</b>
  <%= link_to @passage.destination.title, location_url(@passage.destination) %>
</p>

<p>
  <b>Title:</b>
  <%=h @passage.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @passage.description %>
</p>


<%= link_to 'Edit', edit_passage_path(@passage) %> |
<%= link_to 'Back', passages_path %>