<h1>Editing location</h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

  <p>
    <b>Connected Rooms:</b>
    <% for exit in @location.exits do %>
      <div><%= link_to exit.title, edit_passage_url(exit) %> ==> <%= link_to exit.destination.title, edit_location_url(exit.destination_id) %></div>
    <% end %>
    <%= link_to 'Add Passage', url_for(:controller => 'passages', :action => 'new', 'passage[source_id]' => @location) %>
    </p>  
  <p>


<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %>