<p>
  <b>Title:</b>
  <%=h @location.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @location.description %>
</p>

<p>
  <b>Players:</b>
  <% for player in @location.players do %>
  	<div><%= link_to player.name, player_url(player) %></div>
  <% end %>
</p>

<p>
  <b>Exits:</b>
  <% for exit in @location.exits do %>
  	<div><%= link_to exit.title, location_url(exit.destination_id) %> ("<%= exit.description %>")</div>
  <% end %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>